<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Emilia Cole</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body class="about">
    
    <header>
        <nav>
            <ul type="none" class="navegacion" >
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <nav>
            <a class="facebook" href="https://www.facebook.com/emiliacole.autorin/photos/"><i class="fab fa-facebook-square" ></i></a>
            <a class="instagram" href="https://www.instagram.com/emiliacole.author/"><i class="fab fa-instagram" ></i></a>
            <a class="reddit" href="https://www.reddit.com/user/Emilia-Cole"><i class="fab fa-reddit-square" ></i></a>
            <a class="twitter" href="https://twitter.com/cole_emilia?lang=es"><i class="fab fa-twitter-square" ></i></a>
            <a class="spotify" href="https://open.spotify.com/"><i class="fab fa-spotify" ></i></a>
        </nav>
    </header>

    <main>
        <h1>About Emilia //</h1>
        <section>
            <article>
                <h3>"seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album"</h3>
                <p>- John Tirckle, Music Today Post</p>
            </article>
            <article>
                <h3>Emilia Cole is one of the</h3>
            </article>
        </section>
    </main>
    
</body>
</html>