<!DOCTYPE html>
<html lang="es">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia cole</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="home">
    <header >
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <br>
                <li><a href="/about">About</a></li>
                <br>
                <li><a href="/music">Music</a></li>
                <br>
                <li><a href="/contact">Contact</a></li>
                <br>
            </ul>
        </nav>
        <nav>
            <a class="facebook" href="https://www.facebook.com/emiliacole.autorin/photos/"><i class="fab fa-facebook-square" ></i></a>
            <a class="instagram" href="https://www.instagram.com/emiliacole.author/"><i class="fab fa-instagram" ></i></a>
            <a class="reddit" href="https://www.reddit.com/user/Emilia-Cole"><i class="fab fa-reddit-square" ></i></a>
            <a class="twitter" href="https://twitter.com/cole_emilia?lang=es"><i class="fab fa-twitter-square" ></i></a>
            <a class="spotify" href="https://open.spotify.com/"><i class="fab fa-spotify" ></i></a>
        </nav>
    </header>
    
    <main>
        <h2> Emilia <br> Cole  //</h2>

        
        <h1> twist in my reality</h1>
        
    
    </main>
  
</body>
</html>